<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <main>
        <div>
            <h1>New Ninja</h1>
        </div>
        <!-- Contenido del form -->
        <form action="/ninjas" method="POST">
            <div>
                <label>Dojo</label>
                <select name="dojos">
                    {% for dojo in listaDojos%}
                        <option value={{dojo.id}}>{{dojo.nombre}}</option>></option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label>First Name</label>
                <input type="text" name="first_name" id="first_name">
            </div>
            <div>
                <label>Last Name</label>
                <input type="text" name="last_name" id="last_name">
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/">Home</a>
    </main>
</body>
</html>